{% extends 'mustang-grub-efi.jinja2' %}
{% set connection_command = '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0.0001 --command {{ LAVA_TESTS_ROOT }}/commands.yaml' %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
