{% extends 'imx6q-sabrelite.jinja2' %}
{% set bootloader_prompt = '=>' %}
{% set boot_message = 'Starting kernel' %}
{% set boot_character_delay = 10 %}

{% set connection_command = '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0.0001 --command {{ LAVA_TESTS_ROOT }}/commands.yaml --context {{ LAVA_TESTS_ROOT }}/context.yaml' %}

{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}

{% set usb_uuid = 'mmc-NCard_0x6002233a' %}
{% set usb_label = 'sd-card' %}
