{% extends 'nucleo-l476rg.jinja2' %}
{% set board_id = '066BFF574857847167114539' %}
{% set usb_mass_device = '/dev/disk/by-id/usb-MBED_microcontroller_066BFF574857847167114539-0:0' %}
{% set connection_list = ['usb0'] %}
{% set connection_tags = {'usb0': ['primary', 'telnet']} %}
{% set connection_commands = {'usb0': '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0.0001 --command {{ LAVA_TESTS_ROOT }}/commands.yaml'} %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
