{% extends 'beaglebone-black.jinja2' %}
{% set connection_command = '/bin/bash {{ LAVA_TESTS_ROOT }}/telnet.sh {{ LAVA_DUMMYSYS_ROOT }} {{ LAVA_TESTS_ROOT }}' %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
